.hero {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    height: 75vh;
    background-position: 45%;
}

.container {
    padding: 60px;
    text-align: left;
}

.values-container {
    display: flex;
    padding-left: 30px;
    flex-flow: row wrap; /* Shorthand for flex-direction: row and flex-wrap: wrap */
    gap: 5%;
    justify-content: space-between;
}

.values-container h4 {
    font-weight: 100;
    font-size: 22px;
    align-self: center;
    padding-left: 20px;
}

.values-container li {
    flex-basis: 45%;
    padding-bottom: 40px;
    display: flex;
    flex-flow: row wrap;
}

.values-dot {
    background-color: var(--accent-overlay);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* .offerings-container {
    height: 40vh;
} */

.offering {
    width: 20%;
    height: 30vh;
}

.offering-container {
    position: relative;
    height: auto;
    margin-bottom: 10vh;
}

.offering-container .bg-secondary, .offering-container .bg-white {
    height: 50%;
    padding: 30px 60px;
}

.offering-container .bg-white *,
.offering-container .bg-secondary * {
    width: 50%;
}

.offering-container .description {
    width: 100%;
}

.offering-container .primary-btn {
    width: 140px;
}

.carousel li {
  flex: 0 0 26%;
  scroll-snap-align: center;
}

.gallery-image-container {
    position: absolute;
    top: 30%;
    right: 0px;
    z-index: 3;
    width: 45%;
}

.gallery-image {
    height: auto;
    min-height: 300px;
}

h3 {
    font-size: 42px;
    padding-bottom: 0px;
}

h4 {
    font-size: 18px;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 20px;
    font-family: var(--header-font);
    width: 50%;
    font-size: 18px;
    opacity: .5;
}

@media (max-width: 700px) {
    h1 {
        font-size: 48px;
    }

    .container {
        padding: 20px;
    }

    .offering {
        width: 75%;
        margin-bottom: 60px;
        height: auto;
    }

    .offerings-container {
        height: auto;
    }

    .text-container h4 {
        text-align: center;
        width: 100%;
    }

    .values-container {
        padding-left: 5px;
    }

    .values-dot {
        width: 50px;
        height: 50px;
    }

    .values-container li {
        flex-basis: 100%;
    }

    .values-container h4 {
        font-size: 18px;
    }

    .carousel li {
        flex: 0 0 90%;
        margin-bottom: 40px;
        scroll-snap-align: center;
    }

    .offering-container {
        height: auto;
        margin-bottom: 0px;
    }

    .offering-container p, .offering-container ul, .offering-container .description {
        width: 50%;
    }

    .offering-container .bg-white *,
    .offering-container .bg-secondary * {
        width: 100%;
    }

    .offering-container .primary-btn {
        width: 25%;
        text-align: center;
    }

    .offering-container .bg-secondary, .offering-container .bg-white {
        padding: 20px;
        height: auto;
    }

    .gallery-image-container {
        display: none;
    }
}